<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div *ngIf="!isLogedIn" class="mini-navbar">
            <ul>
                <li routerLink="/login">
                    <a>Login</a>
                </li>
                <li routerLink="/register">
                    <a>Register</a>
                </li>
            </ul>
        </div>
        <div *ngIf="isLogedIn" class="mini-navbar">
            <ul>
                <li routerLink="/profile">
                    <a>{{firstName}}'s Profile</a>
                </li>
                <li (click)="logout()">
                    <a>Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a routerLink="/themes">Themes</a>
            </li>
            <li>
                <a routerLink="/add-theme">New Theme</a>
            </li>
        </ul>
    </nav>

</header>